* {
    text-decoration: none;
}

[data-theme="dark"] {
    --bg: black;
    --h1: rgb(4, 187, 166);
    --text: ghostwhite
}

[data-theme="light"] {
    --bg: white;
    --h1: teal;
    --text: black;

}

body {
    background-color: var(--bg);
    transition: all 1s ease;
}


section {
    min-height: 100vh;
    width: 100%;
    background-image: url("./assets/images/portfolio home.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
}

footer{
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #020617;
}

.contact-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.contact-buttons a {
    color: ghostwhite;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
}

.contact-buttons img {
    height: 20px;
    width: 20px;
}

.contact-buttons a:hover {
    text-decoration: underline;
}

.cv-btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
    padding: 5px 10px;
    background-color: rgb(250, 225, 0);
    color: black;
    border-radius: 5px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}

footer strong{
    width: 100%;
    text-align: center;
    color: ghostwhite;
    border-top: 2px solid white;
    margin-top: 20px;
    font-size: 12px;
    padding-top: 10px;
}

@media screen and (max-width: 650px) {

    h1{
        font-size: 1.2rem;
    }

    .contact-buttons {
        gap: 12px;
    }

    .contact-buttons a {
        font-size: 8px;
    }

    .contact-buttons img {
        height: 12px;
        width: 12px;
    }

    .cv-btn{
        padding: 4px 8px;
        font-size: 10px;
    }

    footer strong{
        font-size: 10px;
        border-top: 0.9px solid white;
    }
}