* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contact {
    padding: 50px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: unset;
}

.contact h1 {
    text-align: center;
    color: rgb(4, 187, 166);
    margin-bottom: 20px;
}


/* Form */
form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
}


form button {
    padding: 5px 10px;
    border: none;
    background-color: rgb(4, 187, 166);
    color: ghostwhite;
    border-radius: 6px;
    cursor: pointer;
}

form button:active {
    transform: scale(0.95);
    background-color: black;
}


@media screen and (max-width: 650px) {
    .contact {
        padding: 15px 5% 50px;
    }

    form {
        width: 100%;
    }
    input,
    textarea{
        padding: 8px;
        border-radius: 4px;
        margin-bottom: 20px;
    }
}