* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)),
        url("./assets/images/portfolio home.gif");
    background-size: cover;
    background-position: center;
    color: ghostwhite;
}

/* LEFT CONTENT */
.home-content {
    max-width: 600px;
    animation: slideLeft 1s ease forwards;
}

.hero-title {
    font-size: 2rem;
    margin-bottom: 10px;
}

.hero-title span {
    font-size: 3rem;
    background: linear-gradient(90deg, #38bdf8, #22c55e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-subtitle {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 15px;
    color: #e5e7eb;
}

.hero-desc {
    font-size: 1rem;
    line-height: 1.6;
    color: #e0e4ef;
    margin-bottom: 30px;
}

/* BUTTONS */
.hero-buttons {
    display: flex;
    gap: 15px;
}

.primary-btn,
.secondary-btn {
    padding: 8px 15px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
}

.primary-btn {
    background-color: #22c55e;
    color: #022c22;
}

.primary-btn:active{
    transform: scale(0.95) translateY(-3px);
}

.primary-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 25px rgba(34, 197, 94, 0.4);
}

.secondary-btn {
    background-color: transparent;
    border: 1px solid ghostwhite;
    color: ghostwhite;
}

.secondary-btn:active{
    transform: scale(0.95);
}
.secondary-btn:hover {
    background-color: ghostwhite;
    color: #020617;
}

/* RIGHT IMAGE */
.home-image {
    animation: slideRight 1s ease forwards;
}

.home-image img {
    width: 320px;
    border-radius: 50%;
    animation: float 4s ease-in-out infinite;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
}

/* ANIMATIONS */
@keyframes slideLeft {
    from {
        opacity: 0;
        transform: translateX(-60px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideRight {
    from {
        opacity: 0;
        transform: translateX(60px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-12px);
    }

    100% {
        transform: translateY(0);
    }
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .home {
        min-height: unset;
        flex-direction: column-reverse;
        text-align: center;
        gap: 20px;
        padding: 15px 5% 50px;
    }

    .hero-buttons {
        justify-content: center;
    }

    .home-image img {
        width: 200px;
    }

    .hero-title{
        font-size: 1.2rem;
    }
    .hero-title span{
        font-size: 2rem;
    }
    .hero-subtitle{
        font-size: 1rem;
    }
    .hero-desc{
        font-size: 0.8rem;
    }
}