* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.skills {
    width: 100%;
    background-image: unset;
    padding: 50px 10%;
}

[data-theme="dark"] {
    --content: ghostwhite;
}

[data-theme="light"] {
    --content: black;
}

.skills h1 {
    text-align: center;
    color: var(--h1);
    padding: 0;
    margin-bottom: 20px;
}

.skills-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 0px 5%;
}

.box {
    width: 80px;
    height: 80px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.box:hover {
    transform: scale(1.1);
}

.skills img {
    width: 100%;
    height: 80%;
}

strong {
    text-align: center;
    color: var(--text);
    margin-top: 5px;
    width: max-content;
}

@media screen and (max-width: 650px) {
    .skills {
        min-height: 0vh;
        padding: 15px 5% 50px;
    }

    .skills-list{
        padding: unset;
    }

    .box {
        width: 45px;
        height: 60px;
    }

    strong {
        font-size: 0.75rem;
    }
}